@{
    ViewBag.Title = "Home Page";
}

<div class="background">
    <div class="route1">
        <div class="route1bis"></div>
    </div>
    <div class="route2">
        <div class="route2bis"></div>
    </div>
    <div class="carrefour"></div>
</div>


<i class="material-icons arrow arrow1pos">arrow_downward</i>
<div class="G1">
    @if (ViewBag.arr["C1-VR1"])
    {
        <i id="C1-VR1" class="material-icons feux green">fiber_manual_record</i>
        <i id="C1-VP1" class="material-icons feux red">directions_walk</i>
    }
    else
    {
        <i id="C1-VR1" class="material-icons feux red">fiber_manual_record</i>
        <i id="C1-VP1" class="material-icons feux green">directions_walk</i>
    }

</div>
<div class="pieton1">
    <div class="barp1"></div>
    <div class="barp1"></div>
    <div class="barp1"></div>
    <div class="barp1"></div>
    <div class="barp1"></div>
    <div class="barp1"></div>
    <div class="barp1"></div>
</div>

<i class="material-icons arrow arrow2pos">arrow_back</i>
<div class="G2">
    @if (ViewBag.arr["C1-HR2"])
    {
        <i id="C1-HR2" class="material-icons feux green">fiber_manual_record</i>
        <i id="C1-HP2" class="material-icons feux red">directions_walk</i>
    }
    else
    {
        <i id="C1-HR2" class="material-icons feux red">fiber_manual_record</i>
        <i id="C1-HP2" class="material-icons feux green">directions_walk</i>

    }

</div>
<div class="pieton2">
    <div class="barp2"></div>
    <div class="barp2"></div>
    <div class="barp2"></div>
    <div class="barp2"></div>
    <div class="barp2"></div>
    <div class="barp2"></div>
    <div class="barp2"></div>
</div>

<i class="material-icons arrow arrow3pos">arrow_upward</i>
<div class="G3">
    @if (ViewBag.arr["C1-VR2"])
    {
        <i id="C1-VR2" class="material-icons feux green">fiber_manual_record</i>
        <i id="C1-VP2" class="material-icons feux red">directions_walk</i>
    }
    else
    {
        <i id="C1-VR2" class="material-icons feux red">fiber_manual_record</i>
        <i id="C1-VP2" class="material-icons feux green">directions_walk</i>
    }


</div>
<div class="pieton3">
    <div class="barp1"></div>
    <div class="barp1"></div>
    <div class="barp1"></div>
    <div class="barp1"></div>
    <div class="barp1"></div>
    <div class="barp1"></div>
    <div class="barp1"></div>
</div>

<i class="material-icons arrow arrow4pos">arrow_forward</i>
<div class="G4">
    @if (ViewBag.arr["C1-HR1"])
    {
        <i id="C1-HR1" class="material-icons feux green">fiber_manual_record</i>
        <i id="C1-HP1" class="material-icons feux red">directions_walk</i>
    }
    else
    {
        <i id="C1-HR1" class="material-icons feux red">fiber_manual_record</i>
        <i id="C1-HP1" class="material-icons feux green">directions_walk</i>
    }

</div>
<div class="pieton4">
    <div class="barp2"></div>
    <div class="barp2"></div>
    <div class="barp2"></div>
    <div class="barp2"></div>
    <div class="barp2"></div>
    <div class="barp2"></div>
    <div class="barp2"></div>
</div>







